#accountHeader {
    flex-direction: row;
}

#cardWrapper {
    align-self: center;
    width: 40%;
}

#profilepic {
    height: 100px;
    margin: 20px;
    width: 100px;
}

#saveChanges {
    align-items: center;
    background-color: #4b2e83;
    justify-content: center;
}