.discussion-content {
   flex: 1;
   justify-content: center;
   align-items: center;

}

.create-post-button-area {
   display: flex;
   align-items: center;
   justify-content: center;
   /* width: 200px; */
}

#create-post-button{
   background-color: #4b2e83;
   border-radius: 5px;
   width: 100px;
   text-align: center;
   margin: 1.5rem;
   padding-left: auto;
   padding-right: auto;
}

.post-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   flex-basis: 100%;
}

.post-buttons {
   display: flex;
   padding: 15px 20px 5px 20px;
   flex: 0.5;
   margin-top: 1rem;
}

.post-buttons h3 {
   margin: 5px 15px;
}

Button {
   background-color: white;
}

.button-upvote {
   background-image: url("../../constants/images/button-upvote.png");
   background-size: 100%;
   /* background-repeat: no-repeat; */
   max-width: 44px;
   height: 26px;
   border: none !important;
}

.button-downvote {
   background-image: url("../../constants/images/button-downvote.png");
   background-size: 100%;
   max-width: 44px;
   height: 28px;
   border: none !important;

}

.post-content {
   /* display: flex; */
   padding: 0px 0px 15px 20px;
   margin: 15px 20px 5px 20px;
   border-radius: 20px;
   border: 1px solid #F0F0F0;
   background-color: #f7fbfc;
   flex: 6;
   word-break: break-all; 
   word-break: break-word;
   overflow-wrap: break-word;
   hyphens: auto;
}

.post-author-info {
   flex-direction: row;
   justify-content: flex-start;
   /* padding: 15px 5px 5px 5px; */
}


.post-image {
   display: inline-block;
   position: relative;
   width: 30px;
   height: 30px;
   overflow: hidden;
   border-radius: 15px;
   margin-top: 20px;
}

.post-image img{
   border-radius: 50%;
   width: auto;
   height: 100%;
}

.modal-header{
   text-align: center;
}

.input-group {
   margin: 1.0rem .5rem;
}

#post-title-form {
   width: 100%;}

#post-text-form {
   width: 100%;
   height: 100px;
   font-size: 14pt;
   overflow-wrap: break-word;
}


textarea {
   border-radius: 5px;
   border: 1px solid LightGray;
}

.modal-buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#submit-post-button {
   border-radius: 5px;
   background-color: #85754d;
}

#cancel-post-button {
   border-radius: 5px;
   background-color: #4b2e83;
}