.account {
    background-image: url("../../constants/icons/Profile.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.create {
    background-image: url("../../constants/icons/Create.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.home {
    background-image: url("../../constants/icons/Home.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.icon {
    cursor: pointer;
}

.icon-group {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    background-image: url("../../constants/images/logo_no_text.png");
    background-size: 100% 100%;
    cursor: pointer;
    height: 51px;
    width: 91px;
}

.logo-group {
    flex-direction: row;
}

.search {
    background-image: url("../../constants/icons/Search.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.navigation-bar {
    background: white;
    border-bottom: 1px solid #d3d3d3;
    flex-direction: row;
    height: 60px;
    position: relative

}

.nav-friend {
    color: #b6a579;
}



.nav-group-main, .nav-group-inner-main {
    flex: 3;
    flex-direction: row;
}

.nav-ly {
    color: #4b2d83;
}

.nav-title {
    flex-direction: row;
    margin-left: 20px;
}
.nav-buttons {
    width: 100%;
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #e8e3d3 !important;
}

.nav-pills a {
    color: #4b2e83 !important;
}
.nav-pills a:hover {
    color:#85754d !important;
}

