/* .account {
    background-image: url("../../constants/icons/Profile.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.create {
    background-image: url("../../constants/icons/Create.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.home {
    background-image: url("../../constants/icons/Home.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
}

.search {
    background-image: url("../../constants/icons/Search.png");
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
} */

/* .icon {
    cursor: pointer;
} */

/* .icon-group {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
} */

.logo {
    background-image: url("../../constants/images/logo_no_text.png");
    background-size: 100% 100%;
    cursor: pointer;
    height: 40px;
    width: 71px;
    margin-top: 8px;
}

.logo-group {
    flex-direction: row;
}

.navigation-bar {
    background: white;
    border-bottom: 1px solid #d3d3d3;
    flex-direction: row;
    height: 60px;
    /* position: relative */
}

.nav-friend {
    color: #b6a579;
}

/* .nav-group-main, .nav-group-inner-main {
    flex: 3;
    flex-direction: row;
} */

.nav-ly {
    color: #4b2d83;
}

.nav-title {
    flex-direction: row;
    margin-left: 20px;
    margin-top: 4px;
}
/* .nav-buttons {
    width: 100%;
    text-align: center;
} */

/* .nav-pill .nav-link.active {
    background-color: #e8e3d3 !important;
}

#nav-pill-active{
    background-color: #e8e3d3 !important;
}

.nav-pills .nav-link.disabled {
.nav-pill .nav-link.disabled {
    background-color: lightgrey !important;
} */
/* #icons {
    position: absolute;
    right: 1000px;
    flex-direction: row;
} */
/* #icons {
    display: block;
    position: absolute;
    right: 12em;
    flex-direction: row;
    display: inline-flex;
    height: 60px;
} */

/* .nav-buttons {
    justify-content: right;
} */

/* .nav-pill {
    margin-top: 15px;
    margin-left: 1em;
} */

/* .nav-pill a {
    color: #4b2e83 !important;
    font-size: 15px;
    margin-top: 10px;
} */

/* .nav-pill a:hover {
    color:#85754d !important;
} */

/* #search-bar {
    justify-content: right;
} */

/* .search-box {
    width: 50%;
} */

.navigation-bar-inside {
    margin-left: 2em;
    margin-right: 2em;
    /* margin-right: 3%; */
    /* flex-grow: 1; */
}

/* new css */

.navbar a {
    color: #4b2d83;
}

.navbar a:hover {
    color:#85754d !important;
}

.navbar ul {
    margin-left: 50em;
}

.navbar li {
    /* display: block; */
    /* position: absolute; */
    right: 0em;
    flex-direction: row;
    display: inline-flex;
    margin: 3em;
    /* height: 60px; */
}

.search-box {
    position: absolute;
    float: right;
    right: 0em;
    width: 20%;
}

#search-button {
    background-color: #4b2d83;
}

@media (max-width: 1000px) {
    .search-box {
        width: 30%;
    }

    
}

@media (max-width: 1200px) {
    .navbar li {
        /* display: block; */
        /* position: absolute; */
        right: 0em;
        flex-direction: row;
        display: inline-flex;
        margin: 0.75em;
        /* height: 60px; */
    }
}